body{
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}
.card{
    border:none;
}
.card-header{
    background-color: #4F6367;
    color:#fefae0;
    
    
}
#campaginLists{
    color:#fefae0;
    padding-bottom: 5px;
    margin-top:30px;
}
h5#campaginLists.card-title{
    padding-bottom: 15px;
    
}
a.nav-link{
    background-color: #ebebeb;
    color:#000000;
}
.nav-tabs .nav-link.active:hover {
    background-color: #c5c6c6; 
    
    border:none;
}
ul.nav a:hover { 
    background-color: #c5c6c6;
    color: #fefae0 !important; 
    border:none;
}


#campaginCard.card-body{
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    margin-bottom: 30px;
    border-color: #4F6367;

}

button.btn.btn-primary{
    
    background-color: #9E2A2B;
    border:none;
}
a{
    color:#EEF5DB;
    text-decoration: none;
}

div.card{
    margin-top: 30px;
}

#withdrawBtn{
    width:100%;
}
.input-group{
    margin-top:10px;
}
.collapse {
margin-bottom: 10px;
}

/* progress bar styling */
div.progress{
    height:30px;
    /* top right bottom left */
    margin-top: 10px;
    margin-bottom: 25px;
}
/* .progress-bar-striped.progress-bar-animated {
    background-color: #7b2cbf;
    background-image: linear-gradient(-45deg,#c77dff 25%,transparent 25%,transparent 50%,#c77dff 50%,#c77dff 75%,transparent 75%,transparent); 
    }
     */
/* .progress-bar-striped.progress-bar-animated {
    background: linear-gradient(45deg, #ff5733, #d80c1f);
} */
