/* {{!-- navbar styling --}} */

.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    

}
                                                    
.navbar a {
    color: black;
    /* top right bottom left */
    padding: 14px 20px 14px 20px;
    text-decoration: none;
    border-radius: 10px;

}
.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}
.navbar a:active {
    background-color: #4F6367;
    color:white;
    text-decoration: underline;
}

.navbar a.active#option {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }


h3{
    color:white;
}

h6{
    color:white;
}