<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMask Connection</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        button {
            padding: 10px 20px;
            color:white;
            background-color: #9E2A2B;
            border-radius: 20px;
        }

        .note {
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    
    <button id="metamaskButton">Login to MetaMask</button>
    <div class="note">Note: Ensure you have MetaMask installed and added as an extension to your web browser.</div>
    <script>
        document.getElementById('metamaskButton').addEventListener('click', function() {
            checkMetaMask(); // calls the function when the button is clicked
        });

        function checkMetaMask() {
            if (window.ethereum) {
                window.ethereum
                    .request({ method: 'eth_accounts' })
                    .then(function (accounts) {
                        if (accounts.length > 0) {
                            const userAddress = accounts[0];
                            sendDataToBackend(userAddress); // send userAddress to backend
                        } else {
                            promptToConnect(); // prompt user to log in
                        }
                    })
                    .catch(function (error) {
                        alert("Faied to fetch accounts")
                    });
            } else {
                alert("Metamask is not installed, please install metamask")
            }
        }

        function promptToConnect() {
            window.ethereum
                .request({ method: 'eth_requestAccounts' })
                .then(function (accounts) {
                    if (accounts.length > 0) {
                        const userAddress = accounts[0];
                        sendDataToBackend(userAddress); // send userAddress to backend
                    } else {
                        alert("Please login to Metamask, before proceeding")
                    }
                })
                .catch(function (error) {
                    alert("Error during login to Metamask")
                });
        }

        function sendDataToBackend(data) {
            fetch('http://localhost:3000/metamask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ address: data })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data sent to backend:', data)
                window.location.href = data.redirectTo;
        })
            .catch(error => console.error('Error sending data to backend:', error));
        }
    </script>

</body>
</html>
