<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Dashboard</title>
</head>
<body>
    <h1>Welcome back, {{name}}</h1>
    <a href="">Create a campaign</a>
</body>
</html>